<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">Liste des Clients</div>

    <!--  Afficher liste produit
      <div class="panel-body">
       <button class="btn-primary" (click)="getListeProduit()">Produit</button>
      </div>-->
    <div class="panel-body">

      <form  #f="ngForm" (ngSubmit)="onChercher(f.value)">

        <div class="form-group">
          <label>Mot clé :  </label>
          <input type="text" name="MotCle" ngModel>
          <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-search"></span>
            Chercher
          </button>
        </div>
      </form>



      <table *ngIf="listeclient" class="table table-striped table-bordered">
        <tr>
          <th>ID : </th><th>Nom : </th><th>Prenom : </th>
        </tr>
        <tr *ngFor="let p of listeclient._embedded.clients">
          <td>{{p.id}}</td>
          <td>{{p.nom}}</td>
          <td>{{p.prenom}}</td>

          <td><a class="btn bg-danger" (click)="onDeleteClient(p)">Suprimer</a></td>
          <td><a class="btn bg-success" (click)="onEditClient(p)">Modifier</a></td>
        </tr>
      </table>
      <ul *ngIf="pages" class="nav nav-pills">
        <li class="clickable" [ngClass]="i==pageCourant?'active':''" *ngFor="let p of pages; let i=index">
          <a (click)="onPageProduit(i)">{{i}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
