<div class="container">
  <div class="panel-default">
    <div class="panel-heading">Edition du Client</div>
    <div class="panel-body" *ngIf="currentClient"></div>

    <form #f="ngForm"(ngSubmit)="onUpdateClient(f.value)">
      <div class="form-group">
        <label class="">Nom</label>
        <input class="form-control" type="text" name="nom" [(ngModel)]="currentClient.nom">
      </div>
      <div class="form-group">
        <label class="">Prenom</label>
        <input class="form-control" type="text" name="prenom" [(ngModel)]= "currentClient.prenom">
      </div>

      <button class="btn btn-success" type="submit">Mise a jour</button>
    </form>

  </div>
</div>
